#System files
.DS_Store
.AppleDouble
.LSOverride

#Logs
*.log

#Thumbnails
._*
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

#NodeJs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
node_modules/

#IDE files
.idea/ 
.vscode/ 
*.sw*
